@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
