html {
  box-sizing: border-box;
}

body {
  align-items: center;
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background: whitesmoke;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
